@import '../../../client/styles.scss';

.icon-button {
  outline: none;
  padding: 12px;
  border-radius: 100%;
  border: solid 1px $green;
  cursor: pointer;

  &.icon-button-rank-primary {
    border-color: $dark-green;
    background-color: $green;
    color: $white;

    path,
    polygon {
      fill: $white;
    }
  }

  &.icon-button-rank-secondary {
    border: solid 1px $green;
    color: $green;
    background-color: transparent;

    path,
    polygon {
      fill: $green;
    }
  }

  &.icon-button-rank-tertiary {
    border: none;
    color: $dark-green;
    background-color: transparent;

    path,
    polygon {
      fill: $dark-green;
    }
  }


  &.is-disabled {
    opacity: .5;
    background-color: transparent;
    border-color: $dark-grey;
    svg {
      g,
      path,
      polygon {
        fill: $dark-grey;
      }
    }
  }
}