@import '../../../client/styles.scss';

.root-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .language-selector {
    width: 100%;
    display: flex;
    max-width: 440px;
    width: 100%;
    align-self: center;
    margin: 24px auto 0;
    position: relative;
    flex-direction: row-reverse;
    top: 8px;
    right: 12px;

    .language-selector-indicator {
      margin: 0 12px 0 0;
      display: flex;
      align-items: center;
    }
  }

  .overlay {
    h1 {
      align-self: center;
    }

    .menu {
      list-style: none;
      padding: 0;
      margin: 0;

      ul {
        padding: 0;
      }

      li {
        display: flex;
        border-bottom: $grey 1px solid;

        &:first-of-type {
          border-top: $grey 1px solid;
        }

        &:last-of-type {
          border-top: $grey 1px solid;
          border-bottom: none;
          margin: 16px 0;
        }

        a {
          align-self: center;
          text-decoration: none;
          padding: 16px;
          color: $dark-green;
        }

        > span {
          align-self: center;
          text-decoration: none;
          padding: 16px;
          color: $dark-grey;
          pointer-events: none;
        }

        .button {
          color: $white;
        }
      }
    }
  }

  nav {
    a {
      width: 100%;
    }
  }

  .page {
    flex: 1;
    width: 100%;
    padding: 0 12px;

    > .content {
      margin: 0 0 42px 0;
      flex: 1;
    }
  }

  > .header {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 440px;
    margin: auto;

    .button-circle {
      padding: 0;
      border: none;
    }

    .logo {
      margin: 0;

      .logo-text {
        display: inline-flex;
        align-items: center;

        span {
          font-size: 20px;
        }
      }
    }
  }

  .footer {
    color: $white;
    position: fixed;
    z-index: -1;
    width: 100%;
    bottom: 12px;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  &.is-guest {
    .page {
      background-color: $green;
      margin-bottom: 32px;
      padding: 0 20px;
    }
  }
}
