// Color
$green: #006462;
$dark-green: #003635;
$blue: #0087BA;
$dark-blue: #004964;
$light-blue: #CBE9F5;
$yellow: #F7CE00;
$dark-yellow: #887100;
$light-yellow: #f5eec6;
$red: #B10000;
$light-red: #F6C3C3;
$dark-red: #360000;
$white: #FFF;
$grey: #EEE;
$dark-grey: #AAA;

// fonts

$normal: 400;
$bold: 700;

body {
  padding: 0;
  margin: 0;
  background-color: $green;
  color: $white;
  font-family: Arial, Helvetica, sans-serif;

  * {
    box-sizing: border-box;

    &:after,
    &:before {
      box-sizing: border-box;
    }
  };

  a {
    color: $white;
    text-decoration: underline;
  }

  label span {
    display: none;
  }

  textarea,
  input[type=text],
  input[type=email],
  input[type=password] {
    outline: none;
    background-color: $green;
    border: 1px solid $white;
    border-radius: 8px;
    padding: 12px;
    margin: 0 0 16px;
    font-size: 18px;
    width: 100%;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  button[type=submit] {
    outline: none;
    color: $green;
    padding: 12px;
    border-radius: 8px;
    margin: 0 0 16px;
    border: 0;
    font-size: 18px;
    width: 100%;
  }

  .page {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    max-width: 464px;
    margin: 0 auto;
  }

  .content {
    background-color: $white;
    border-radius: 8px;
    padding: 24px 16px;
    margin: 0 0 16px 0;
    color: $dark-green;
    box-shadow: 0 2px 4px $dark-green;

    h1, h3, h4, h5 {
      text-align: center;
      border-bottom: $grey 1px solid;
    }

    h1 {
      padding: 0 0 20px;
      margin: 0 0 12px;
    }

    h3 {
      padding: 0 0 16px;
      margin: 0 0 20px;
    }

    p {
      margin: 0 8px;
    }
  }

  .button {
    outline: none;
    color: $green;
    padding: 12px;
    border-radius: 8px;
    margin: 0 0 16px;
    border: 1px solid;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &.is-disabled {
      opacity: .5;
    }

    &.button-primary {
      color: $green;
      background-color: $white;
    }

    &.button-secondary {
      color: $white;
      background-color: $green;
      border-color: $dark-green;
    }

    &.button-tertiary {
      color: $white;
      background-color: $dark-blue;
    }
  }

  .button-circle {
    outline: none;
    padding: 12px;
    border-radius: 100%;
    border: solid 1px $green;
    cursor: pointer;

    &.is-disabled {
      opacity: .5;
    }

    &.button-circle-primary {
      border-color: $dark-green;
      background-color: $green;
      color: $white;

      path,
      polygon {
        fill: $white;
      }
    }

    &.button-circle-secondary {
      border: solid 1px $green;
      color: $green;
      background-color: transparent;

      path,
      polygon {
        fill: $green;
      }
    }
  }

  /* Hide the browser's default checkbox */
  .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .message {
    background-color: $green;
    border: 1px solid $white;
    border-radius: 8px;
    padding: 12px;
    margin: 0 0 16px;
    font-size: 18px;
    width: 100%;
    text-align: center;

    &.message-success {
      color: $blue;
      background-color: $light-blue;
      border-color : $blue;
    }

    &.message-info {
      color: $yellow;
      background-color: $light-yellow;
      border-color : $yellow;
    }

    &.message-error {
      color: $red;
      background-color: $light-red;
      border-color: $red;
    }
  }
}

