@import '../../../client/styles.scss';

.vocab-list-page {
  .content {
    .sub-header {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      margin: 0;
      border-bottom: 1px solid $grey;

      .icon-type-arrow-left {
        padding: 0;
        border: none;

        svg {
          width: 32px;
          height: 32px;
        }
      }

     .icon svg {
        height: 28px;
        fill: $green;
      }

      &.is-sticky {
        position: fixed;
        width: 100%;
        left: 0;
        background: $white;
        top: 0;
        z-index: 10;
        padding: 8px 16px;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 1px $grey;

      .icon-button {
        margin: 4px 0;
        padding: 8px;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          border: none;
        }
      }

      flex-direction: row-reverse;

      &.is-sticky {
        width: 40%;
        position: fixed;
        z-index: 11;
        top: -2px;
        left: 72px;
        background: $white;

        .icon-type-plus {
          border-color: transparent;
        }

        @media (min-width: 768px) {
          .icon-type-plus {
            border-color: $green;
          }

          left: auto;
          width: 360px;
          margin: 0 auto;
        }
      }
    }

    .input-type-file {
      .input-label {
        color: $white;
        margin: 0;
        font-weight: $normal;
        font-size: 18px;
      }

     .input-element {
      width: 100%;
      height: 60px;
      overflow: hidden;
      outline: none;

      &:before {
        content: "Upload File";
        display: none;
        outline: none;
        color: $white;
        padding: 12px;
        border-radius: 8px;
        margin: 0 0 16px;
        border: 1px solid;
        font-size: 18px;
        width: 100%;
        background-color: $dark-blue;
        justify-content: center;
        cursor: pointer;
        position: relative;
      }
    }
    }


    h1 {
      margin: 0;
    }

    h5 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 0 12px;

      button {
        padding: 8px;
        margin: 4px 0;

        path {
          fill: $dark-green;
        }
      }

      span {
        width: 42%;

        &:nth-of-type(2) {
          width: 16%;
        }

        &:last-of-type {
          color: $green;
        }
      }
    }

    small {
      display: flex;
      justify-content: flex-end;
      margin: 12px 0;
    }

    label {
      .input-label {
        margin: 4px 0 8px 4px;
        display: flex;
        font-weight: $bold;
        font-size: 14px;
        color: inherit;
      }
    }

    .vocabs-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 4px 0 0;
      justify-content: space-between;

      .list-item {
        display: inline-flex;
      }
    }

    .list {
      display: flex;
      flex-direction: column-reverse;
      margin: 8px 0;

      .list-item {
        position: relative;
        display: flex;
        align-content: center;
        border: 1px solid $green;
        border-radius: 8px;
        padding: 12px;
        margin: 0 0 8px;

        .checkbox-container {
          display: flex;
          align-self: center;
          margin: 0 24px 0 0;
        }

        .vocab-content {
          display: flex;
          flex-direction: column;
          width: 75%;

          small {
            justify-content: flex-start;
            margin: 4px 0;
            align-items: center;

            span {
              font-size: inherit;
              margin: 0;
              display: inline-flex;
              position: relative;
              right: 4px;
              bottom: 1px;
            }

            .icon-type-sound {
              position: relative;
              right: 8px; // evens out the padding to lign up button icon with text
            }
          }
          span {
            font-size: 20px;
            margin: 0 0 12px;
          }
        }

        .icon-type-sound {
          border: none;
          position: relative;
          padding: 4px;
        }

        .icon-type-edit {
          position: absolute;
          right: 16px;
          display: flex;
          align-self: center;
        }

        &:first-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &.is-practice-mode {
    .content {
      flex: none;

      .source-text-static {
        display: flex;
        flex-direction: column;
        span {
          color: $green;
        }

        .label {
          margin: 4px 0 8px 4px;
          display: flex;
          font-weight: $bold;
          font-size: 14px;
          color: inherit;
        }
      }

      .source-text {
        font-size: 24px;
        padding: 24px 0 48px;
        margin: 0 0 12px;
        border-bottom: $grey 1px solid;
      }

      .target-text {
        color: $dark-yellow;
        padding: 12px;
        height: 110px;
        width: 100%;
        font-size: 18px;
        border-radius: 8px;
        margin: 0 0 16px;
        background-color: $light-yellow;
        border: solid 1px $dark-yellow;
        position: relative;

        svg {
          position: absolute;
          display: flex;
          bottom: 2px;
          right: 10px;
          width: 28px;
          height: 28px;
          path {
            fill: $dark-yellow;
          }
        }
      }

      .textarea {
        position: relative;

        .textarea-element {
          background-color: $grey;
          border: solid 1px $green;
          resize: none;
          outline: none;
          color: $dark-green;
          margin: 0 0 12px;

          &::placeholder {
            color: $green;
          }
        }

        svg {
          position: absolute;
          display: flex;
          bottom: 24px;
          right: 12px;
          width: 20px;
          height: 20px;
        }

        &.textarea-status-success {
          .textarea-element {
            pointer-events: none;
            background-color: $light-blue;
            border-color: $blue;
            color: $blue;
          }

          svg {
            path {
              fill: $blue;
            }
          }
        }

        &.textarea-status-error {
          .textarea-element {
            background-color: $light-red;
            border-color: $red;
            color: $red;
          }

          svg {
            path {
              fill: $red;
            }
          }
        }
      }

      .practice-mode-controls {
        flex-direction: row;
      }

      .results-title {
        margin: 24px 0 0;
        padding: 0;
        border: none;
        display: flex;
        justify-content: center;
      }

      .container {
        padding: 24px 12px 48px;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 32px 32px;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
      }
    }
  }

  .message {
    margin: 0 0 16px;

    .message-link {
      color: $red;
      font-weight: $bold;
    }
  }
}

.vocab-form {
  display: flex;
  flex-direction: column;
  &.is-add-mode {
    .input:nth-of-type(1) {
      order: 1;
    }
    .input:nth-of-type(2) {
      order: 3;
      .input-label {
        color: $dark-blue;
      }
      .input-element {
        border-color: $blue;
        &::placeholder {
          color: $dark-blue;
        }
      }
    }
    .input:nth-of-type(3) {
      order: 2;
    }

    .button-rank-tertiary:nth-of-type(1) {
      order: 4;
    }
  }
}

.overlay {
  form {
    input[type="email"],
    input[type="text"] {
      background-color: $grey;
      border: solid 1px $green;
      resize: none;
      outline: none;
      color: $dark-green;
      margin: 0 0 12px;

      &::placeholder {
        color: $green;
      }
    }
  }
}