@import '../../../client/styles.scss';

.vocab-list-page {
  .content {
    .sub-header {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      margin: 0;
      border-bottom: 1px solid $grey;

     .icon svg {
        height: 28px;
        fill: $green;
      }

      &.is-sticky {
        position: fixed;
        width: 100%;
        left: 0;
        background: $white;
        top: 0;
        z-index: 10;
        padding: 8px 16px;
      }
    }

    .header {
      padding: 8px 12px;

      .icon-type-plus {
        margin: 8px 0 0;
      }
      flex-direction: row-reverse;
    }

    input[type="file"] {
      width: 100%;
      height: 60px;
      overflow: hidden;
      outline: none;

      &:before {
        content: "Upload File";
        outline: none;
        color: $white;
        padding: 12px;
        border-radius: 8px;
        margin: 0 0 16px;
        border: 1px solid;
        font-size: 18px;
        width: 100%;
        background-color: $dark-blue;
        display: flex;
        justify-content: center;
        cursor: pointer;
        position: relative;
      }
    }

    h1 {
      margin: 0;
    }

    h5 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 0 12px;

      button {
        padding: 8px;
        margin: 4px 0;

        path {
          fill: $dark-green;
        }
      }

      span {
        width: 42%;

        &:nth-of-type(2) {
          width: 16%;
        }

        &:last-of-type {
          color: $green;
        }
      }
    }

    small {
      display: flex;
      justify-content: flex-end;
      margin: 0 0 8px 0;
    }

    textarea {
      background-color: $grey;
      border: solid 1px $green;
      resize: none;
      outline: none;
      color: $dark-green;
      margin: 0 0 12px;

      &::placeholder {
        color: $green;
      }

      &.message {
        text-align: left;

        &.message-success {
          pointer-events: none;
        }

        &::placeholder {
          color: inherit;
        }
      }
    }

    .results-title {
      margin: 24px 0 0;
      padding: 0;
      border: none;
      display: flex;
      justify-content: center;
    }

    .container {
      padding: 24px 12px 48px;

      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 32px 32px;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
    }

    p {
      font-size: 24px;
      padding: 24px 0 48px;
      margin: 0 0 12px;
      border-bottom: $grey 1px solid;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: space-between;

      > li {
        display: inline-flex;

        svg {
          path, g {
            fill: $green;
          }
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      margin: 8px 0;

      .list-item {
        position: relative;
        display: flex;
        align-content: center;
        border: 1px solid $green;
        border-radius: 8px;
        padding: 12px;
        margin: 0 0 8px;

        .checkbox-container {
          display: flex;
          align-self: center;
          margin: 0 24px 0 0;
        }

        .vocab-content {
          display: flex;
          flex-direction: column;

          small {
            justify-content: flex-start;
            margin: 0 0 4px;
          }
          span {
            font-size: 20px;
            margin: 0 0 12px;
          }
        }

        .icon-button {
          position: absolute;
          right: 16px;
          display: flex;
          align-self: center;
        }
      }
    }
  }
}

.overlay {
  form {
    input[type="email"],
    input[type="text"] {
      background-color: $grey;
      border: solid 1px $green;
      resize: none;
      outline: none;
      color: $dark-green;
      margin: 0 0 12px;

      &::placeholder {
        color: $green;
      }
    }
  }
}