@import '../../../client/styles.scss';

.vocab-lists-page {
  .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $grey 1px solid;
    margin: 0 0 8px;
    padding: 0 0 12px;

    .icon-type-plus {
      margin-right: 16px;
    }

    h3 {
      border: none;
      padding: 0;
      margin: 0;
    }

    .button-circle {
      padding: 8px;
      height: 36px;
      width: 36px;

      svg {
        height: 16px;
      }
    }

    .search-form,
    .overlay {
      input[type="search"],
      input[type="text"] {
        background-color: $grey;
        border: solid 1px $green;
        resize: none;
        outline: none;
        color: $dark-green;
        margin: 0 0 12px;

        &::placeholder {
          color: $green;
        }
      }
    }

    .search-form {
      display: flex;
      justify-content: right;
      width: 100%;

      .input {
        width: 100%;

        svg {
          position: absolute;
          display: flex;
          align-items: center;
          flex-direction: column;
          right: 12px;
          top: 24px;

          path {
            fill: $green;
          }
        }
      }
    }

    &.is-sticky {
      position: fixed;
      width: 100%;
      left: 0;
      background: $white;
      top: 0;
      padding: 4px 16px;
      z-index: 10;

      .input {
        width: 100%;

        @media (min-width: 768px) {
          width: 480px;
          margin: 0 auto;
          position: relative;
          right: 32px;
        }
      }
    }
  }

  .message {
    margin: 0 0 16px;

    .message-link {
      color: $red;
      font-weight: $bold;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column-reverse;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: solid 1px $green;
      border-radius: 8px;
      padding: 16px 12px;
      margin: 0 0 8px;
      position: relative;

      .button-group {
        display: flex;
        position: absolute;
        right: 48px;

        .icon-button {
          margin: 0 0 0 8px;
        }

        .button-circle {
          padding: 4px;
          margin: 0 8px 0 0;
        }
      }

      svg {
        height: 24px;
      }

      a {
        color: $green;
        display: inline-flex;
        text-decoration: none;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .list-item-link-content {
          display: flex;
          flex-direction: column;
          width: 50%;
        }

        span {
          font-size: 14px;
          margin: 0 0 2px;
          color: $dark-green;
        }

        small {
          font-size: 10px;
        }
      }

      .icon {
        margin: 0 0 0 16px;

        svg {
          height: 16px;
        }
      }
    }
  }
}
