@import '../../../client/styles.scss';

.signup-page {
  form {
    input[type=password] {
      margin: 0 0 24px 0;
    }
  }

  .link-group { 
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px;

    a {
      font-weight: $bold;
      font-size: 12px;
      color: $white;
    }
  }
}
